<a href="https://colab.research.google.com/github/brunoegs/DiploDatos_AyVD_Grupo18/blob/main/Entregable_Parte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Edición 2021**

---

# Trabajo práctico entregable - Parte 2

In [16]:
import io
import matplotlib
import matplotlib.pyplot as plt
import numpy 
import pandas as pd
import seaborn
import scipy.stats as st

# !pip install scipy
seaborn.set_context('talk')

## Lectura del dataset

En la notebook 00 se explican los detalles de la siguiente sección.

In [17]:
url = 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/sysarmy_survey_2020_processed.csv'
df = pd.read_csv(url)

In [18]:
df[:3]

  profile_gender  ...  company_best_companies_city
0          Mujer  ...                          NaN
1         Hombre  ...                          NaN
2          Mujer  ...                          NaN

[3 rows x 48 columns]

In [19]:
df[['profile_gender', 'salary_monthly_NETO']].groupby('profile_gender').describe()

               salary_monthly_NETO                ...
                             count          mean  ...       75%        max
profile_gender                                    ...
Hombre                      4944.0  98836.063558  ...  110000.0  2080000.0
Mujer                        908.0  73501.414465  ...   92000.0   800000.0
Otros                         31.0  95441.354839  ...  117500.0   380000.0

[3 rows x 8 columns]

In [20]:
df[df.salary_monthly_NETO > 1000]\
  [['profile_gender', 'salary_monthly_NETO']].groupby('profile_gender').describe()

               salary_monthly_NETO                 ...
                             count           mean  ...       75%        max
profile_gender                                     ...
Hombre                      4815.0  101481.624343  ...  110000.0  2080000.0
Mujer                        863.0   77328.913778  ...   93000.0   800000.0
Otros                         28.0  105660.714286  ...  122750.0   380000.0

[3 rows x 8 columns]

In [21]:
alpha = 0.05

In [22]:
is_man = df.profile_gender == 'Hombre'

groupA = df[(df.salary_monthly_NETO > 1000) & is_man].salary_monthly_NETO
groupB = df[(df.salary_monthly_NETO > 1000) & ~is_man].salary_monthly_NETO

## Ejercicio 1: Estimación

**Consigna:**  Calcular una estimación puntual y un intervalo de confianza de nivel (1-alpha) para la resta entre la media del salario Neto para Hombres menos la media del salario Neto para otros géneros(diferencia de las medias entre el grupoA y grupoB). 
¿Cómo se relaciona este intervalo de confianza con el test de hipótesis?

In [23]:
dif_mean = groupA.mean() - groupB.mean()
print('Diferencia de medias=', dif_mean)
std_groupA = groupA.std()
std_groupB = groupB.std()
std_groupA_groupB = std_groupA + std_groupB
ci = st.norm.interval(alpha= 0.05, loc=dif_mean, scale= std_groupA_groupB)
print('Intervalo de confianza de la diferencia de medias=', ci)

Diferencia de medias= 23262.37339991823
Intervalo de confianza de la diferencia de medias= (13308.886905809746, 33215.85989402671)

Si el intervalo de confianza resultante contiene el valor propuesto bajo la hipótesis nula no hay razón para pensar estadísticamente que la hipótesis nula no es verdadera. No es posible decir: "con probabilidad (1 − α) el estimador de interés estará en el intervalo de confianza." Sólo sabemos que por repetición de los casos, nuestro estimador estará en el intervalo calculado (1 − α).

## Ejercicio 2: Test de hipótesis


### 2.1 Formalización

Describir formalmente los distintos compenentes de un test de hipótesis para comprobar si la distribución de los salarios es distinta entre los grupos A y B.

**Hipótesis Nula**

$H_0=$ MeanA = MeanB

**Nivel de significancia**

alpha= 0,05

**Estadístico (Pivote)**
  * Identificar el estadístico

El estadistico a utilizar es la diferencia de medias (MeanA - MeanB). 

  * Escribir qué distribución tiene bajo $H_0$

Por el teorema central del limite el estadistico se distribuye con una distribución normal.

### 2.2 P-valor

1. Calcule el p-valor y decida si rechazar o no la hipótesis nula.
2. Interprete el resultado.
3. Los dos grupos de nuestra muestra tienen tamaños muy distintos. ¿Esto afecta al tests?

Links útiles:
* [Test de hipótesis usando scipy](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html)
* [Test de Welch](http://daniellakens.blogspot.com/2015/01/always-use-welchs-t-test-instead-of.html)

In [24]:
st.ttest_ind(groupA, groupB, equal_var=False)

Ttest_indResult(statistic=9.697205976350673, pvalue=8.605197322133209e-22)

El p-valor obtenido es significativamente menor al nivel de significancia utilizado, esto indicaria que el estadístico cayo dentro de la zona de rechazo de la hipotesis nula, por lo que podemos decir que asumiendo que la hipotesis nula era verdadera, es poco probable que no exista diferencias entre las medias de salarios entre hombres y otros generos, siendo este último menor al de los hombres.

### [Opcional] 2.3 Potencia del test

Nuestra muestra, ¿era lo suficientemente grande para detectar si existe o no una diferencia entre los grupos?

1. Utilice la función `tt_ind_solve_power` para calcular el tamaño necesario de la muestra para un poder estadístico de 0.8, 0.9 y 0.95, asumiendo una significancia estadística de 0.05.
2. ¿Cómo intepretan el poder estadístico de un test? Dado su conocimiento de dominio sobre los datos, ¿les parece que esta muestra es lo suficientemente grande para ser representativo de la tendencia general? ¿y para utilizarlo en un juicio penal contra una empresa XX por una causa de discriminación?

[Documentación](https://www.statsmodels.org/stable/generated/statsmodels.stats.power.tt_ind_solve_power.html)

NOTA: este análisis debería hacerse ANTES de recolectar los datos.

In [25]:
from statsmodels.stats.power import tt_ind_solve_power

In [26]:
effect_size = (groupA.mean() - groupB.mean()) / groupB.std()
# nobs1=None  - What we want to know
alpha = 0.05
ratio = len(groupB) / len(groupA)

In [27]:
tt_ind_solve_power(effect_size=effect_size, alpha=alpha, power=0.8, ratio=ratio)

298.3073379956589

In [28]:
tt_ind_solve_power(effect_size=effect_size, alpha=alpha, power=0.9, ratio=ratio)

398.79610014029686

In [29]:
tt_ind_solve_power(effect_size=effect_size, alpha=alpha, power=0.95, ratio=ratio)

492.8117730249087

In [30]:
print(len(groupA))
print(len(groupB))

4815
891

La potencia estadística de un test es uno menos la probabilidad de un error de tipo II. Representa la probabilidad de que la prueba rechace correctamente la hipótesis nula si la hipótesis alternativa es verdadera.

De acuerdo a los valores obtenidos en la valuacion de potencia de los test, ambas muestras cumplirían con la cantidad de datos necesarios para tener la potencia pretendida, sin embargo, el tamaño de ambas muestras es muy diferente, ya que el grupo A supera en mas de cinco veces en cantidad de datos al grupo B, esto podría usarse en la evaluacion general de los datos, pero para usarse como evidencia las muestras no deberian ser tan diferentes, ya que sus varianzas dependen del tamaño de la muestra, y los estadisticos de contraste que se utilizan se calculan utilizando dichas varianzas, lo cual se podria ver afectada por dicha diferencia mencionada.

## Ejercicio 3: Comunicación y visualización

**Consigna:** Seleccionen un resultado que les parezca relevante a partir de alguno de los ejercicios del entregable. Diseñe e implemente una comunicación en base a este mensaje, en un archivo PDF.

Elija las palabras y visualización más adecuada para que la comunicación sea entendible, efectiva y se dapte a UNA de las siguientes situaciones:

1. Una sección en un artículo de difusión a presentar como parte de una organización sin fines de lucro.
No más de 1 página A4 (o dos si los gráficos son muy grandes).
  1. Ejemplo: Alguna de las secciones [Los ecosistemas de emprendimiento de América Latina y el Caribe frente al COVID-19: Impactos, necesidades y recomendaciones](https://publications.iadb.org/es/los-ecosistemas-de-emprendimiento-de-america-latina-y-el-caribe-frente-al-covid-19-impactos-necesidades-y-recomendaciones), por ejemplo la sección *2.2. Reacciones de los emprendedores*.
  2. Ejemplo: Alguna de las secciones de [The state of gender pay gap in 2021](https://www.payscale.com/data/gender-pay-gap?tk=carousel-ps-rc-job)
  3. Puntos clave: 
    1. Simpleza de los gráficos.
    2. Comunicación en lenguaje simple a personas que no son necesariamente expertos de dominio.
    2. Selección de UNA oración sobre la que se hace énfasis.
    3. No es necesario que mencionen objetivos ni descripciones del conjunto de datos, se supone que eso ya estaría explicado en otras secciones del informe.

2. Una publicación científica o reporte técnico interno. No más de una página A4:
  2. Ejemplo: La sección de resultados de [IZA DP No. 12914: The Impact of a Minimum Wage Change on the Distribution of Wages and Household Income](https://www.iza.org/publications/dp/12914/the-impact-of-a-minimum-wage-change-on-the-distribution-of-wages-and-household-income).
  2. Ejemplo: Alguna de las secciones de [Temporary reduction in daily global CO2 emissions during the COVID-19 forced confinement](https://www.nature.com/articles/s41558-020-0797-x)
  3. Puntos clave:
    3. Nivel de detalle técnico requerido. Es necesario justificar la validez del análisis.
    4. La idea presentada puede ser más compleja. Pueden asumir que la audiencia tiene conocimiento técnico y va a analizar las visualizaciones en detalle. 
    5. Pueden presentar más en detalle las limitaciones del análisis (significancia estadística, etc.)
    2. No es necesario que mencionen objetivos ni descripciones del conjunto de datos, se supone que eso ya estaría explicado en otras secciones del informe.

3. Un tweet (o post de LinkedIn) para la cuenta de su empresa consultora que hace análisis de datos. El objetivo es promocionar un análisis de datos abiertos que van a incluir en su portfolio:
  1. Ejemplo: [Comparación vacunas covid](https://twitter.com/infobeautiful/status/1381577746527236098?s=20)
  2. Ejemplo: [Tweet del BID](https://twitter.com/el_BID/status/1388508583944507396?s=20). Lo valioso de este tweet es que usaron un único número para transmitir un mensaje. Puede ser algo así, o con un gráfico muy simple.
  3. Ejemplo: [Cambio climático](https://twitter.com/UNFCCC/status/1387732156190011394?s=20) Es un muy buen ejemplo, excepto que el gráfico no se lee nada y hay que entrar a la publicación original.
  3. Ejemplo: [¿Cuánto están los programadores en las empresas?](https://www.linkedin.com/posts/denis-rothman-0b034043_tech-career-work-activity-6793861923269054464-gS6y) (No verificamos la veracidad o seriedad de la fuente).
  4. Puntos clave:
    1. Su audiencia no va a mirar la visualización por más de unos segundos, y no tiene conocimiento técnico.
  3. Tienen que incluir además una *breve* descripción de cómo obtuvieron los datos que están presentando, que no entraría en el tweet.